{% extends "layout.html" %}

{% block optstyle %}
.checkbox .checksmall {
width: 35px;
height: 20px;
padding: 0 0;;
}

input#Pic {
  position:absolute;
  z-index: 100;
  margin-top: -96px;
  width: 96px;
  height: 96px;
  opacity:0;
}
a#inimg {
  position:absolute;
  z-index: 101;
  margin-left: -75px;
  margin-top: 40px;
}

div.img {
  width: 96px;
  height: 96px;
  -webkit-transition: box-shadow 0.5s;
}
div.img:hover {
  box-shadow: 0px 0px 8px #888;
}

div.linkname {
  position:absolute;
  font-size: 24px;
  margin-left: 120px;
  margin-top: -70px;
  height: 36px;
  line-height: 36px;
  -webkit-transition: box-shadow 0.5s;
}
div.linkname:hover {
  box-shadow: 0px 0px 6px #888;
}
{% endblock %}

{% block optside %}
{% include "sidebar.html" %}
{% endblock %}

{% block body %}
<form class="form-horizontal">
  <div class="control-group">
    <!--label class="control-label" for="inputPic">Pic</label-->
    <div class="controls">
      <div class="img">
        <img src="/static/img/{{ base.get('Pic') or 'NoPicture.gif' }}">
        <input type="file" id="Pic" onchange="UploadPic()" name="{{ base.get('Pic') or 'NoPicture.gif' }}">
      </div>
      <div class="linkname" id="{{ base.get('lmid') or '' }}">
        {{ base.get('name') or '联系人姓名'}}
      </div>
    </div>
  </div>
  {% for name in names %}
  <div class="control-group">
    <label class="control-label">{{ name[0] }}</label>
    <div class="controls">
      <input id="{{ name[1] }}" type="{{ name[2] }}" name="{{ name[1] }}" value="{{ base.get(name[1]) if base.get(name[1]) }}">
    </div>
  </div>
  {% endfor %}
  <div class="control-group">
    <label class="control-label">备注</label>
    <div class="controls">
      <textarea id="remark" row="3" name="remark" value="{{ base['remark'] }}"></textarea>
    </div>
  </div>
  <div class="divider"></div>
  <hr>
  {% for lct in lcts %}
  <div id="cts" class="control-group">
    <div class="controls">
      <div class="input-prepend">
        <div class="btn-group">
          <button class="btn dropdown-toggle" data-toggle="dropdown" id="ctype">
            {{ lct[2] }}<span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            {% for ct in cts %}
            <li>
              <a class="ctnm F" id="{{ ct['ctid'] }}">{{ ct['ctname'] }}</a>
            </li>
            {% endfor %}
            <li class="divider"></li>
            <li>
              <a id="newct" class="F">自定义</a>
            </li>
          </ul>
        </div>
        <input class="span2 ctvalue" id="ctvalue" name="{{ lct[0] }}" type="text" value="{{ lct[1] }}">
      </div>
    </div>
  </div>
  {% endfor %}
  <hr>
  <div class="control-group">
    <label class="control-label">群组</label>
    <div class="controls" id="checkbox">
      {% for gt in gts %}
      <label class="checkbox inline F">
        <input type="checkbox" value="{{ gt['gtid'] }}" name="gtid" {% if gt['gtid'] in lgs %}checked="checked"{% endif %}>
        {{ gt['gtname'] }}
      </label>
      {% endfor %}
      <a class="btn btn-primary btn-mini inline" id="newgroup">增加群组</a>
    </div>
  </div>
  <div class="form-actions">
    <button id="submit" type="button" class="btn btn-primary btn-large" name="{{ flag or 'add' }}">提交</button>
  </div>
</form>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/my_add_linkman.js') }}"></script>
{% endblock %}