{% extends "layout.html" %}

{% block optstyle %}
	.modal {
		width: 800px;
	}
{% endblock %}
{% block optside %}
{% include "sidebar.html" %}
{% endblock %}

{% block body %}
<table class="table table-hover">
	<thead>
		<tr>
			<th>群组名</th>
			<th>编辑</th>
			<th>删除</th>
		</tr>
	</thead>
	<tbody>
		{% for group in egps %}
		<tr class="group">
			<td>{{ group['gtname'] }}</td>
			<td>
				<i class="icon-edit hide F" id="{{ group['gtid'] }}"></i>
			</td>
			<td>
				<i class="icon-trash hide F" id="{{ group['gtid'] }}"></i>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
{% block script %}
	<script src="{{ url_for('static', filename='js/my_edit_group.js') }}"></script>
{% endblock %}