<!doctype html>
<title>Contacts</title>
<head>
  <link rel="stylesheet" href="{{
                               url_for('static',filename='css/bootstrap.css')
                               }}" 
        media="screen">
  <link rel="styleshoot" href="{{
                               url_for('static',filename='css/bootstrap-responsive.css')
                               }}" media="screen">
  <style type="text/css">
    body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fefefe;
    }
    .affix {
    position: fixed;
    }
    .badge {
    float: right;
    }
    .F {
    cursor: pointer;
    }
    hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid white;
    }
    a.btn {
    margin-left: 10px;
    }
    input#Bak {
      position: absolute;
      z-index: 1;
      margin-left: -60px;
      height: 20px;
      width: 200px;
      opacity: 0;
    }
    {% block optstyle %}{% endblock %}
  </style>
  {% block optionhead %}{% endblock %}
</head>
<div class="container-fluid">
  <div class="row">
    <div class="span4">
      <ul class="nav nav-list affix">
        {% block optside %}{% endblock %}
        <li class="divider"></li>
        <li>
            {% if not session.logged_in %}
            <a href="{{ url_for('login') }}">LOG IN</a>
            {% else %}
            <a href="{{ url_for('logout') }}">LOG OUT</a>
            {% endif %}
        </li>
      </ul>
    </div>
    <div class="span10">
      {% block body %}{% endblock %}
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/jquery.js')
             }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js')
             }}"></script>
{% block script %}{% endblock %}
