{% extends "layout.html" %}
{% block optionhead %}
<style type="text/css">
  .form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  }

  .form-signin .form-signin-heading,
  .form-signin .checkbox {
  margin-bottom: 10px;
  }
  
  .form-signin input[type="text"],
  .form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
  }
</style>
{% endblock %}

{% block body %}
</form><form class="form-signin" action='login' method='post'>
  <h2 class="form-signin-heading">Please sign in</h2>
  <input name="username" type="text" class="input-block-level"
         placeholder="Username">
  <input name="password" type="password" class="input-block-level"
         placeholder="Password">
  <button class="btn btn-large btn-primary" type="submit">Sign
    in</button>
</form>
{% endblock %}
