{% extends "layout.html" %}
{% block optstyle %}
  table {
  //table-layout: fixed;
  word-wrap:break-word;
  }
{% endblock %}
{% block optside %}
{% include "sidebar.html" %}
{% endblock %}
{% block body %}
<table class="table table-hover">
  <thead>
    <tr>
      <th>姓名</th>
      <th>邮箱</th>
      <th>手机</th>
      <th>群组</th>
      <th>修改</th>
      <th>删除</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr class="lkman"><a href="{{ url_for('edit_linkman', id=item['id']) }}">
      <td>{{ item['name'] }}</td>
      <td>
        {{ item['email'] if item['email'] }}{% if item['emnum'] %}(+{{ item['emnum']
        }}){% endif %}
      </td>
      <td>
        {{ item['phone'] if item['phone'] }}{% if item['phnum'] %}(+{{ item['phnum']
        }}){% endif %}
      </td>
      <td>
        {% if gtnames.has_key(item['id']) %}
          {% for gtname in gtnames[item['id']] %}
            <span class="label label-success">{{ gtname }}</span>
          {% endfor %}
        {% endif %}
      </td>
      <td>
        <a href="{{ url_for('edit_linkman', id=item['id']) }}">
        <i class="icon-edit hide F"></i></a>
      </td>
      <td>
        <i class="icon-trash hide F" id="{{ item['id'] }}"></i>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
{% block script %}
  <script src="{{ url_for('static', filename='js/my_show_linkmen.js') }}"></script>
{% endblock %}