<li>
  <a href="{{ url_for('show_linkmen') }}">所有联系人
  <span class="badge badge-info">{{ allnum }}</span></a>
</li>
<li class="divider"></li>
<li class="nav-header">群组</li>
{% for group in groups %}
<li>
  <a href="{{ url_for('group_members', gtid=group['gtid']) }}">{{ group['gtname'] }}<span class="badge badge-info">{{ group['pnum'] }}</span></a>
</li>
</li>
{% endfor %}
<li class="divider"></li>
<li class="nav-header">增改操作</li>
<li>
  <a href="{{ url_for('add_linkman') }}">增加联系人</a>
</li>
<li>
	<a href="{{ url_for('edit_group') }}">修改群组</a>
</li>
<!--li class="divider"></li>
<li class="nav-header">导入导出</li>
<li>
  <a>
	导入列表<input type="file" id="Bak" onchange="UploadBak()"></a>
</li>
<li>
	<a href="{{ url_for('export_list') }}">导出列表</a>
</li-->
<li class="divider"></li>
<li class="nav-header">搜索联系人</li>
<form class="form-search" action="{{ url_for('search') }}" method="POST">
  <div class="input-append">
    <input type="text" class="span2 search-query" name="name">
    <button id="search" type="submit" class="btn">搜索</button>
  </div>
</form>
